@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html{
  height: 100%;
}

body{
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to top left, black, #514E4E);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    margin: 0 auto;
    max-width: 25em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 2em 1em;
}
h1,
strong {
  margin-top: 1em;
  padding-top: 1em;
  color: #E7E0E0;
}

h2 {
    color: #E0D7D7;
}

p {
  color: #DDD3D3
}

a {
  color: #e81c4f;
}